
@font-face {
    font-family: "Oswald";
    src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
}

body{
    background-color: #0F0B1C;
    box-sizing: border-box;
    font-family: "Oswald",Arial, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    
}

header{
    overflow: hidden;
    justify-content: space-evenly;
    display: inline-flex;
    align-items: center;
    background-color: #7569FF;
    width: 100%;
}


nav,#check-menu{
    display: none;
}

a{
    text-decoration: none;
    color: white;
}

a:active{
    text-decoration: none;
    color: white;
}

a:hover{
    cursor: pointer;
}

main{
    min-height: 100vh;
    margin-bottom: -50px;
}

footer{
    height: 50px;
    width: 100%;
    bottom: 0;
    background-color: #7569FF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.div-push-footer{
    height: 100px;
}

/* Header elements */
.nav-button{
    display: block;
    color: white;
    padding: 15px;
    width: 190px;
    margin-left: 20px;
    background-color:hsl(244, 55%, 41%);
    border-radius: 20px;
    border: none;
    text-align: center;
    
}

.nav-button:hover{
    cursor: pointer;
    background-color: #1A0F3F;
}

.logo{
    width: 100%;
    height: 125px;
    padding: 10px;
}

    
#check-menu:checked ~ nav{
    display: block;
}

#profil{
    padding: 15px;
    color: white;
    border-radius: 10px;
    margin-left: 20px;
    font-size: 25px;
}

#profil:hover{
    background-color: #1A0F3F;
}

.nav-hamburger-menu{
    display: none;
    font-size: 20px;
    padding: 20px;
    color: white;
    font-size: 25px;
}



/* home page and also movie divs design*/

.section-mostpopular-movies,.section-newreleases-movies,.section-list-of-vidoes-movies{
    display:block;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
}

.div-mostpopular-title,.div-newreleases-title,.div-list-of-vidoes{
    display: flex;
    background-color: #1A0F3F;
    color: white;
    align-items: center;
}

.h2-mostpopular,.h2-newreleases,.list-of-videos-h2{
    margin-left: 20px;
    margin-right: 20px;
}

.div-movie-title{
    display:flex;
    background-color: #7569FF;
    justify-content: center;
    width: 300px;
    margin-left: 10px;
    margin-top: -15px;

}
.div-movie{
    display: inline-block;
}

.movie-title{
    color: white;
}

.movie{
    height: 400px;
    margin: 10px;
    width: 300px;
}

/* About Page */


.about-div-container{
    margin-top: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.about-div-logo{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    background-color: #7569FF;
    border-radius: 20px;
    margin: 20px;
    
}

.about-img{
    display: flex;
    width: 100%;
}

.about-div-text{
    max-width: 500px;
    width: 100%;
    margin-left: 20px;
    color: white;

}

.about-div-img{
    justify-content: center;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    margin-top: 90px;
}

.about-img1,.about-img2{
    width: 90%;
    max-width: 599px;
    border-radius: 20px;
}

/* Sign Up Page, login page and contact page */

.login-div-logo,.signup-div-logo,.login-section,.login-div-input,.login-div-h3,.signup-form-section,.signup-div-button,.signup-div-h2,.login-div-h3,.contact-div,.su-but{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top:10px;
    color: white;
   

}


.signup-logo{
    background-color: #7569FF;
    width: 90%;
    max-width: 400px;
    border-radius: 20px;
    padding: 10px;
}
.signup-container,.login-container,.contact-container{
    max-width: 600px;
    width: 100%;
    background-color: #7569FF;
    border-radius: 10px;
    margin: 20px;
    padding-bottom: 20px;
}


.login-input,.signup-input,.contact{
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: #0F0B1C;
}


.contact-message{
    width: 100%;
    max-width: 400px;
    padding-bottom: 100px;
    border-radius: 10px;
    margin: 5px;
    color: #0F0B1C;
}

.contact,.contact-msg::placeholder{
    color: #0F0B1C;
}

.signup-div-input,.login-div-button,.contact-div-input{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.signup-button,.login-button{
    color: white;
    background-color: rgba(111, 180, 111, 0.986);
    border-radius: 10px;
    padding: 10px;
    max-width: 200px;
    width: 100%;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.signup-h1,.login-h1,.con-title,.con-par,.signup-div-h3,.login-h3{
    width: 100%;
    display: flex;
    color: white;
    justify-content:center;
    text-align: center;
}

/* List of videos */
.input-genre-menu{
justify-content: center;
display: flex;
color: white;
padding: 15px;
width: 160px;
background-color:#7569FF;
border-radius: 15px;
border: none;
}

.ul-genre-menu{
    position: absolute;
    display: none;
    left: 125px;
    top: 180px

}
.genre-menu-li{
    display: flex;
    justify-content: center;
    background-color: #3e2985;
    width:160px;
    border-radius: 15px;
    border: none;
    padding: 15px;

}

#genre-menu{
    display: none;
}

#genre-menu:checked ~ .ul-genre-menu{
    display: block;
}




/* product page info*/

.productpage-container{
   display: flex;
   width: 100%;
   margin-top: 100px;
   flex-flow: row wrap;
}

.productpage-p{
    display: flex;
    max-width: 300px;
}
.productpage-div-img{
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.productpage-product-img{
    width: 80%;
    max-width: 400px;

}

.productpage-div-info{
    display: block;
    width: 100%;
    color: white;
}

.productpage-div-p,.productpage-div-buybutton,.productpage-div-price,.productpage-div-h1,.productpage-a{
    display: flex;
    justify-content: center;
    width: 100%;
}

.productpage-buybutton,.account-button,.checkout-button-purchase,.checkoutsuccess-button-complete{
    justify-content: center;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    background-color:#4B945F;
    color: white;
    padding: 20px;
    cursor: pointer;
    text-align: center;
}



/* checkout page */
.checkout-container{
    justify-content: center;
    background-color: #1A0F3F;
    padding-bottom: 50px;
    color: white;
    margin-top: 40px;
}
.checkout-h1{
    text-decoration: underline;
}

.checkout-div-h2,.checkout-div-button,.checkout-div-h1{
    display: flex;
    justify-content: center;
    width: 100%;
}

.checkout-div-info{
    flex-flow: column wrap;
    display: flex;
}

.checkoutpage-h2{
    text-align: center;
}

.checkout-p{
    width: 100%;
    max-width: 300px;
}

.checkout-div-productinfo{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

.chekcoutpage-div-img{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 400px;

}

.checkout-product-img{
    width: 300px;

}

.checkout-div-price{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.checkout-button-purchase{
 color: white;
 width: 100%;
 max-width: 200px;
 background-color:#4B945F ;
 border-radius: 10px;
 padding: 10px;
 margin-top: 30px;
}

/* account page*/

.account-container{
    display: block;
    width: 100%;

}

.account-div-h1{
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    
}

.account-div-input,.account-div-button{
    justify-content: center;
    display: flex;
    width: 100%;
}
.account-input{
    padding: 15px;
    margin: 20px;
    width: 50%;
    border-radius: 10px;
    color: black;
}

.account-input,::placeholder{
    color: black;
}

.account-div-icon{
    justify-content: center;
    display: flex;
    width: 100%;
    border-color: #4B945F;
}

#account-icon{
    color: white;
    font-size: 100px;
    border-style: solid;
    padding: 50px;
    border-radius: 100%;
    background-color: #7569FF;
    
}

.account-button{
    margin-top: 40px;
}


/*check out success page */

.checkoutsuccsess-div-h1,.checkoutsuccsess-div-h2,.checkoutsuccsess-div-button{
    display: flex;
    justify-content: center;
    width: 100%;
}

.checkoutsuccsess-container{
    margin-top: 15%;
    padding-bottom: 60px;
    border-radius: 20px;
    background-color: #1A0F3F;
}
.checkoutsuccsess-button-complete{
    width: 100%;
    max-width: 500px;
    background-color:#4B945F ;
    border-radius: 10px;
    padding: 25px;
    margin-top: 30px;
}

.checkoutsuccsess-p{
    text-align:center;
    width: 70%;
}


@media (min-width:1300px){
    nav {
        display: block;
    }
    
    .nav-button{
        display: inline-block;

    }

}

@media (max-width:1300px){
    nav{
        width: 100%;
        margin-top: 30px;
        left: 0px;
        position: absolute;
        top: 85px;
    }
    .nav-button{
        display: block;
        width: 100%;
        border-radius: 0%;
        margin: 0px;
        background-color:hsl(244, 55%, 41%);
        padding: 20px;
    }
    .div-mostpopular-movies,.div-newreleases-movies,.div-list-of-vidoes-movies{
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;

    }

    .nav-hamburger-menu{
        display: flex;
    }
}








