.logo{
    width: 250px;
    height: 125px;
    padding: 10px;
}
body{
    margin: 0px;
}
nav,#check-menu{
display: none;
}

nav button{
    display: block;
    color: white;
    padding: 10px;
    width: 120px;
    border-radius: 10px;
    
}

header{
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: #7569FF;
    width: 100%;
}

nav{
    position: absolute;
    top: 0px;
    left: 30px;
}

#check-menu:checked ~ nav{
    display: block;
}


@media (min-width:600px){
    nav {
        display: block;
        position: static;
        margin-left: 20px;
    }

    .hm{
        display: none;
        margin-left: 30px;
    }

    nav button{
        display: inline-block;
    }
}


.mp,.nr{
    background-color: #1A0F3F;
    display: flex;
    color: white;
    margin-top: 5px;

}

.mp2,.nr2{
    padding-left: 10px;
}

.sec-mp{
    display: flex;
}

.mp-list{
    display: inline-block;
    flex-direction: row;
}

.movie{
    height: 400px;
    padding: 20px;
}

.mp-slide,.nr-slide{
    display: flex;
    overflow-y: hidden;
}